---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import RecentPublications from "../components/RecentPublications.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="w-full max-w-screen-md mx-auto my-4 text-emerald-950 bg-emerald-50 dark:bg-emerald-950 dark:text-emerald-50 transition-colors duration-300" >
    <Header />
    <main class="flex flex-col justify-center">
      <div class="px-4 md:px-16 flex flex-col gap-4 md:my-10">
        <h1 class="text-5xl md:text-7xl w-full font-slabserif">I'm a copywriter, comics doodler and podcaster based in Toronto.</h1>
        <p class="w-full text-justify text-base md:text-lg font-systemui">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi officia
          neque eligendi nulla impedit error, consequuntur aspernatur autem id
          pariatur tenetur quod.
        </p>
      </div>
      <div class="w-full flex flex-col items-center gap-2.5 px-4 lg:px-0 mt-6">
      </div>
	  <RecentPublications />
	      </main>
    <Footer />
  </body>
</html>

